<div class="card m-3">
  <a routerLink="/etterem">
    <img
      src="https://gardenmedhotel.hu/pictures/news/42/garden-etterem-normalbig8576.jpg"
      alt="Avatar"
      style="width: 100%"
    />
    <div class="container">
      <div class="d-flex">
        <h4>Mr. Tic-tac étterem&nbsp;</h4>
      </div>
      <div class="m-2 mb-4">
        Kopasz mint a fa télen hogy ha fagy Cuki veled ha bármilyen is vagy
        Helyes mint a Tom a Top Gánban Karban ringatom a szinti tokjában Erős
        mint a hó bátor mint egy hegy Édes mint a só de egyszer egy az egy Nem
        mozog soha fent a színpadon De a szív doktora egy nyári címlapon
      </div>
      <div class="d-flex m-2 flex-wrap mb-4">
        <h5>Jellemzők:&nbsp;</h5>
        <img src="assets/gay.png" data-toggle="tooltip" title="Melegbarát" />
        <img
          src="assets/fast-food.png"
          data-toggle="tooltip"
          title="Gyorskaja"
        />
        <img
          src="assets/eiffel-tower.png"
          data-toggle="tooltip"
          title="Francia"
        />
        <img
          src="assets/gluten.png"
          data-toggle="tooltip"
          title="Gluténmentes"
        />
        <img
          src="assets/hungarian-forint.png"
          data-toggle="tooltip"
          title="Magyaros"
        />
        <img
          src="assets/lactose-free.png"
          data-toggle="tooltip"
          title="Laktózmentes"
        />
        <img src="assets/lantern.png" data-toggle="tooltip" title="Ázsiai" />
        <img
          src="assets/masala-papad.png"
          data-toggle="tooltip"
          title="Indiai"
        />
        <img src="assets/pizza.png" data-toggle="tooltip" title="Pizzázó" />
        <img src="assets/spagetti.png" data-toggle="tooltip" title="Olasz" />
      </div>
      <div class="d-flex m-2">
        <h5>Összesített értékelés:&nbsp;</h5>
        <div class="stars">
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star-fill"></i>
          <i class="bi bi-star"></i>
        </div>
      </div>
      <div class="m-2">
        <div class="d-flex">
          <h6>barát 1 értékelése:&nbsp;</h6>
          <div class="stars">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
          </div>
        </div>
        <div class="d-flex">
          <h6>barát 2 értékelése:&nbsp;</h6>
          <div class="stars">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>
            <i class="bi bi-star"></i>
          </div>
        </div>
        <div class="d-flex">
          <h6>barát 3 értékelése:&nbsp;</h6>
          <div class="stars">
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star-fill"></i>
            <i class="bi bi-star"></i>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
