<div class="card m-3" (click)="onDetails()">
  <a>
    <div style="width: 100%; height: 100%; overflow: hidden">
      <img
        src="data:image/png;base64,{{ details.picture }}"
        alt="Avatar"
        style="width: 100%; height: 400px; object-fit: cover"
      />
    </div>
    <div class="container">
      <div class="d-flex">
        <h4>{{ details.place_name }}&nbsp;</h4>
      </div>
      <div class="d-flex m-2">
        <h5>Összesített értékelés:&nbsp;</h5>
        <div class="stars" *ngFor="let n of filledstars">
          <i class="bi bi-star-fill"></i>
        </div>
        <div class="stars" *ngFor="let n of emptystars">
          <i class="bi bi-star"></i>
        </div>
      </div>
      <div class="m-2">
        <div class="d-flex" *ngFor="let friend of details.friend_ratings">
          <h6>{{ friend.name }} értékelése:&nbsp;</h6>
          <div *ngIf="friend.rating > 0" class="d-flex">
            <div *ngFor="let i of [].constructor(friend.rating)" class="stars">
              <i class="bi bi-star-fill">&nbsp;</i>
            </div>
          </div>
          <div
            *ngFor="let i of [].constructor(5 - friend.rating)"
            class="stars"
          >
            <i class="bi bi-star"></i>
          </div>
        </div>
      </div>
    </div>
  </a>
</div>
