<footer class="p-3 d-flex justify-content-between">
  <div class="creators m-1" style="width: 50%">
    <p class="mb-1">This website was created by:</p>
    <ul>
      <li>Regő Borsodi</li>
      <li>Krisztián Németh</li>
      <li>Gergely Reményi</li>
      <li>Márton Tremmel</li>
    </ul>
    <p>
      This website was created for a class assignment, so we hold no
      responsibility. Please do not give away any private information on this
      site. You are not protected by the GDPR!
    </p>
    <p>
      The frontend code can be found
      <a
        href="https://github.com/nemkrisz11/Networked-services-homework-2021-frontend"
        >here</a
      >
    </p>
    <p>
      The backend code can be found
      <a
        href="https://github.com/nemkrisz11/Networked-services-homework-2021-backend"
        >here</a
      >
    </p>
  </div>
  <div class="icons">
    <div>
      Icons made by
      <a href="https://www.freepik.com" title="Freepik">Freepik</a> from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
    <div>
      Icons made by
      <a href="https://www.flaticon.com/authors/monkik" title="monkik"
        >monkik</a
      >
      from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
    <div>
      Icons made by
      <a href="https://www.flaticon.com/authors/darius-dan" title="Darius Dan"
        >Darius Dan</a
      >
      from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
    <div>
      Icons made by
      <a href="https://www.flaticon.com/authors/smashicons" title="Smashicons"
        >Smashicons</a
      >
      from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
    <div>
      Icons made by
      <a href="https://www.flaticon.com/authors/ultimatearm" title="ultimatearm"
        >ultimatearm</a
      >
      from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
    <div>
      Icons made by
      <a href="https://www.flaticon.com/authors/nadiinko" title="Nadiinko"
        >Nadiinko</a
      >
      from
      <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a>
    </div>
  </div>
</footer>
