<div class="container mt-5" style="background-color: rgb(247, 247, 247)">
  <div class="d-flex justify-content-between">
    <h3 class="pt-3 pr-3">Barátnak jelöltek</h3>
  </div>
  <hr class="bg-danger border-2 border-top border-danger" />
  <div class="d-flex">
    <app-fcard style="width: 100%"></app-fcard>
    <button class="btn" style="margin-left: 0rem">elfogadás</button>
  </div>
  <div class="d-flex">
    <app-fcard style="width: 100%"></app-fcard>
    <button class="btn" style="margin-left: 0rem">elfogadás</button>
  </div>
  <div class="d-flex">
    <app-fcard style="width: 100%"></app-fcard>
    <button class="btn" style="margin-left: 0rem">elfogadás</button>
  </div>
  <hr class="bg-danger border-2 border-top border-danger mb-0 mt-3" />
  <div class="d-flex justify-content-between">
    <h3 class="pt-3 pr-3">Barátok</h3>
    <button class="btn" (click)="this.router.navigate(['/ujbarat'])">
      <i class="bi-plus" style="text-align: center"></i>
    </button>
  </div>
  <hr class="bg-danger border-2 border-top border-danger" />
  <div class="d-flex">
    <app-fcard style="width: 100%"></app-fcard>
    <button class="btn remove" style="margin-left: 0rem">eltávolítás</button>
  </div>
  <div class="d-flex">
    <app-fcard style="width: 100%"></app-fcard>
    <button class="btn remove" style="margin-left: 0rem">eltávolítás</button>
  </div>
  <div class="d-flex">
    <app-fcard style="width: 100%"></app-fcard>
    <button class="btn remove" style="margin-left: 0rem">eltávolítás</button>
  </div>
  <div class="d-flex">
    <app-fcard style="width: 100%"></app-fcard>
    <button class="btn remove" style="margin-left: 0rem">eltávolítás</button>
  </div>
</div>
