<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/ajanlatok"
      ><img src="assets/logo.svg" style="width: 150px"
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/ajanlatok"
            >Ajánlatok</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/baratok"
            >Barátok
            <span class="badge">3</span>
          </a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <div class="d-flex align-items-center">
            <a class="nav-link p-2" href="#">#felhasználónév</a>
            <i class="bi-person-circle" style="text-align: center"></i>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
