<div class="container mt-5 p-0" style="background-color: rgb(247, 247, 247)">
  <div style="width: 100%; height: 100%; overflow: hidden">
    <img
      src="data:image/png;base64,{{ details.picture }}"
      alt="Avatar"
      style="width: 100%; height: 400px; object-fit: cover"
    />
  </div>
  <div class="m-3 pb-3">
    <div class="d-flex">
      <h3>{{ details.name }}&nbsp;</h3>
    </div>
    <div class="d-flex justify-content-between flex-md-row flex-column">
      <div class="row">
        <div class="col-lg-6">
          <div class="d-flex">
            <h5>Összesített értékelés:&nbsp;</h5>
            <div *ngIf="details.rating > 0" class="d-flex">
              <div *ngFor="let i of [].constructor(details.rating)">
                <i class="bi bi-star-fill">&nbsp;</i>
              </div>
            </div>
            <div *ngFor="let i of [].constructor(5 - details.rating)">
              <i class="bi bi-star"></i>
            </div>
          </div>
          <div class="m-2" *ngFor="let review of details.reviews">
            <app-friend-rating [review]="review"></app-friend-rating>
          </div>
          <app-rating [restaurantId]="rid.id"></app-rating>
        </div>
        <div class="col-lg-6 pt-3 d-lg-flex justify-content-end">
          <div>
            <h5>Térkép:</h5>
            <google-map width="500px" height="500px"
              ><map-marker [position]="this.marker.position"></map-marker
            ></google-map>
            <i>{{ details.address }}</i>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="height: 20vh"></div>
</div>
