<div class="container mt-5" style="background-color: rgb(247, 247, 247)">
  <div class="p-md-5 p-sm-4 p-3">
    <div class="d-flex justify-content-center">
      <img
        src="assets/logo.svg"
        style="width: 250px; margin: 0rem 3rem 3rem 3rem"
      />
    </div>
    <form [formGroup]="loginForm">
      <div class="form-group row">
        <label for="inputUname3" class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-10">
          <input
            type="text"
            class="form-control"
            id="inputUname3"
            placeholder="Felhasználónév"
            formControlName="email"
          />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label"
          >Jelszó:</label
        >
        <div class="col-sm-10">
          <input
            type="password"
            class="form-control"
            id="inputPassword3"
            placeholder="Jelszó"
            formControlName="password"
          />
          <div *ngIf="this.password" style="color: red">
            {{ this.password }}
          </div>
        </div>
      </div>
      <div class="form-group row">
        <div
          class="d-flex justify-content-center flex-row-reverse"
          style="margin-top: 2rem"
        >
          <button
            type="submit"
            class="btn"
            style="background-color: plum"
            (click)="login()"
          >
            Belépés
          </button>
          <button
            class="btn"
            style="background-color: none; color: grey"
            routerLink="/register"
          >
            Regisztráció
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
<div style="height: 20vh"></div>
