<div class="container mt-5" style="background-color: rgb(247, 247, 247)">
  <div class="p-md-5 p-sm-4 p-3">
    <form>
      <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label"
          >Felhasználónév:</label
        >
        <input type="text" class="form-control" id="exampleInputEmail1" />
      </div>
      <div class="mb-3">
        <label for="exampleInputPassword1" class="form-label">Jelszó:</label>
        <input
          type="password"
          class="form-control mb-5"
          id="exampleInputPassword1"
        />
      </div>
      <div
        class="d-flex justify-content-center flex-md-row flex-column-reverse"
      >
        <button type="submit" class="btn" style="color: gray">
          Elfelejetett&nbsp;jelszó
        </button>
        <button type="submit" class="btn btn-primary" routerLink="/ajanlatok">
          Belépés
        </button>
      </div>
    </form>
  </div>
</div>
<div style="height: 20vh"></div>
