.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: rgb(255, 246, 250);
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  margin: 10px;
  margin-left: 0rem;
}

h6 {
  margin-bottom: 0px;
}

i {
  margin-right: 0.5rem;
  padding-left: 0rem;
  margin-left: 0rem;
}
