<div class="container mt-5" style="background-color: rgb(247, 247, 247)">
  <h3 class="pt-3 pr-3">Új barát hozzáadása</h3>
  <hr class="bg-danger border-2 border-top border-danger" />
  <form class="form-inline my-2 my-lg-0">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Keresés"
      aria-label="Search"
    />
  </form>
  <div class="d-flex">
    <app-fcard style="width: 100%"></app-fcard>
    <button class="btn remove" style="margin-left: 0rem">hozzáadás</button>
  </div>
  <div class="d-flex">
    <app-fcard style="width: 100%"></app-fcard>
    <button class="btn remove" style="margin-left: 0rem">hozzáadás</button>
  </div>
  <div class="d-flex">
    <app-fcard style="width: 100%"></app-fcard>
    <button class="btn remove" style="margin-left: 0rem">hozzáadás</button>
  </div>
</div>
