<div class="container mt-5" style="background-color: rgb(247, 247, 247)">
  <h3 class="pt-3 pr-3 mb-4">Felhasználói adatok megváltoztatása</h3>
  <form class="row g-3" [formGroup]="userDetailsForm">
    <div class="form-group row">
      <label for="inputUname3" class="col-sm-4 col-form-label"
        >Felhasználónév</label
      >
      <div class="col-sm-8">
        <input
          type="text"
          class="form-control"
          id="inputUname3"
          placeholder="Felhasználónév"
          value="{{ username }}"
          formControlName="name"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-4 col-form-label"
        >Régi jelszó</label
      >
      <div class="col-sm-8">
        <input
          type="password"
          class="form-control"
          id="inputPassword3"
          placeholder="Régi jelszó"
          formControlName="regi_jelszo"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword5" class="col-sm-4 col-form-label"
        >Új jelszó</label
      >
      <div class="col-sm-8">
        <input
          type="password"
          class="form-control"
          id="inputPassword5"
          placeholder="Új jelszó"
          formControlName="uj_jelszo"
        />
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword4" class="col-sm-4 col-form-label"
        >Új jelszó még egyszer</label
      >
      <div class="col-sm-8">
        <input
          type="password"
          class="form-control"
          id="inputPassword4"
          placeholder="Új jelszó még egyszer"
          formControlName="uj_jelszo_meg_egyszer"
        />
        <div *ngIf="this.errMsg" style="color: red">
          {{ this.errMsg }}
        </div>
      </div>
    </div>
    <div class="form-group row">
      <div class="d-flex justify-content-start flex-row-reverse">
        <button
          type="submit"
          class="btn"
          style="background-color: plum"
          (click)="changeUserData()"
        >
          Mentés
        </button>
        <button
          class="btn"
          style="background-color: none"
          (click)="this.router.navigate(['/ajanlatok'])"
        >
          Mégsem
        </button>
      </div>
    </div>
  </form>
</div>
<div style="height: 20vh"></div>
